# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
.hg
.svn
.CVS
node_modules/
jscoverage_lib/
bower_components/
dist/
out
gen
